<template>
  <div>
    <div class="header">
        <div class="col-md-12">
            <div class="title">
              <img src="../../assets/adventure.png" height="147" width="555" class="adventure">
                <h1>Навстречу к путешествиям мечты</h1>
                <p class="title__text">Окунись в мир эмоций</p>
                <router-link to="/tours" tag="a" class="btn">Найти тур</router-link>
            </div>
        </div>
    </div>
    <section class="slider">
        <!-- <div class="container"> -->
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item">
                  <div class="slide" style="background-image: url('src/assets/slider.jpg')">
                    <h2 class="slider__title">Туры в грузию</h2>
                    <p class="slider__text">от  <span class="slider__price">250$</span><br>(Тбилиси, Теляви, Батуми, Боржоми)</p>
                    <p class="slider__date">С 8 по 17 июля 2018 года</p>
                    <router-link to="/tours" tag="a" class="btn-slider">Подробнее</router-link>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="slide" style="background-image: url('src/assets/slider.jpg')">
                    <h2 class="slider__title">Туры в грузию</h2>
                    <p class="slider__text">от  <span class="slider__price">250$</span><br>(Тбилиси, Теляви, Батуми, Боржоми)</p>
                    <p class="slider__date">С 8 по 17 июля 2018 года</p>
                    <router-link to="/tours" tag="a" class="btn-slider">Подробнее</router-link>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="slide" style="background-image: url('src/assets/slider.jpg')">
                    <h2 class="slider__title">Туры в грузию</h2>
                    <p class="slider__text">от  <span class="slider__price">250$</span><br>(Тбилиси, Теляви, Батуми, Боржоми)</p>
                    <p class="slider__date">С 8 по 17 июля 2018 года</p>
                    <router-link to="/tours" tag="a" class="btn-slider">Подробнее</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- </div> -->
    </section>
    <section class="popular-country">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="popular-country__title">самые популярные туристические страны</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5">
                <img src="../../assets/country1.jpg" alt="Egypt" class="popular-country__photo">
              </div>
              <div class="col-xl-7">
          <div class="popular-country__desc">
                  <img src="../../assets/flag1.png" height="314" width="352" class="popular-country__bg">
                  <h3 class="popular-country__name">Египет</h3>
                  <p class="popular-country__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <router-link class="btn2" to="/tours" tag="a">Посмотреть туры</router-link>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-xl-5">
                <img src="../../assets/country2.jpg" height="393" width="512" alt="Egypt" class="popular-country__photo">
              </div>
              <div class="col-xl-7">
          <div class="popular-country__desc">
                  <img src="../../assets/flag2.png" height="290" width="440" class="popular-country__bg">
                  <h3 class="popular-country__name">Доминикана</h3>
                  <p class="popular-country__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <router-link class="btn2" to="/tours" tag="a">Посмотреть туры</router-link>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-xl-5">
                <img src="../../assets/country3.jpg" height="393" width="512" alt="Egypt" class="popular-country__photo">
              </div>
              <div class="col-xl-7">
          <div class="popular-country__desc">
                  <img src="../../assets/flag3.png" class="popular-country__bg">
                  <h3 class="popular-country__name">ГОА</h3>
                  <p class="popular-country__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <router-link class="btn2" to="/tours" tag="a">Посмотреть туры</router-link>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-xl-5">
                <img src="../../assets/country4.jpg" height="393" width="512" alt="Egypt" class="popular-country__photo">
              </div>
              <div class="col-xl-7">
                <div class="popular-country__desc">
                  <img src="../../assets/flag4.png" height="279" width="164" class="popular-country__bg">
                  <h3 class="popular-country__name">Тайланд</h3>
                  <p class="popular-country__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <router-link class="btn2" to="/tours" tag="a">Посмотреть туры</router-link>
                </div>
              </div> 
            </div>  
        </div>
    </section>
    <section class="photoline">
    </section>
    <div class="old-bg">
      <section class="advantages" id="advantages">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="title-advantages">
                          <h2>За что нас любят</h2>
                          <p class="title-advantages__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                          penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                      </div>
                  </div>
              </div> 
              <div class="row">
                  <div class="col-lg-3">
                      <img src="../../assets/icon1.png" height="58" width="67" class="advantages__icon m-auto">
                      <h3 class="advantages__tittle">счастливый клиент</h3>
                      <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                  </div>
                  <div class="col-lg-3">
                      <img src="../../assets/icon2.png" class="advantages__icon m-auto">
                      <h3 class="advantages__tittle">удивительные туры</h3>
                      <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                  </div>
                  <div class="col-lg-3">
                      <img src="../../assets/icon3.png" class="advantages__icon m-auto">
                      <h3 class="advantages__tittle">помощь и поддержка</h3>
                      <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                  </div>
                  <div class="col-lg-3">
                      <img src="../../assets/icon4.png" class="advantages__icon m-auto">
                      <h3 class="advantages__tittle">удобство и комфорт</h3>
                      <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                  </div>
              </div>   
          </div>
      </section>
      <section class="comments" id="comments">
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 m-auto">
                    <h2 class="comments__title">Что говорят наши клиенты</h2>
              <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                  <div class="owl-stage">
                    <div class="owl-item">
                            <h3 class="comments_author">Алина Александрова</h3>
                            <p class="comments_date">27.09.17</p>
                            <p class="commects__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p> 
                    </div>
                    <div class="owl-item">
                            <h3 class="comments_author">Наталья Кудряшёва</h3>
                            <p class="comments_date">27.09.17</p>
                            <p class="commects__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                    <div class="owl-item">
                            <h3 class="comments_author">Марина Кравец</h3>
                            <p class="comments_date">27.09.17</p>
                            <p class="commects__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                  </div>
                </div>
              </div>
                    <a href="#" class="btn2">Написать отзыв</a>
                  </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h2 class="contact__title">Контактная информация</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <gmap-map v-bind="options" id="map" style="height: 320px">
                      <gmap-marker :position="options.center"/>
                    </gmap-map>
                  </div>
                  <div class="col-md-5">
                    <div class="contact__items">
                      <div class="contact__item d-flex">
                        <img src="../../assets/i1.png" height="24" width="24" class="contact__icon">
                        <a href="tel:+375-(25)-125-12-34" class="contact-text">+375-(25)-125-12-34</a>
                      </div>
                      <div class="contact__item d-flex">
                        <img src="../../assets/i2.png" class="contact__icon">
                        <a href="tel:+375-(017)-125-12-34" class="contact-text">+375-(017)-125-12-34</a>
                      </div>
                      <div class="contact__item d-flex">
                        <img src="../../assets/i3.png" class="contact__icon">
                        <a href="mailto:support@travelcompany.by" class="contact-text">support@travelcompany.by</a>
                      </div>
                      <div class="contact__item d-flex">
                        <img src="../../assets/i4.png" class="contact__icon">
                        <a href="#" class="contact-text">@allseasontravel</a>
                      </div>
                      <div class="contact__item d-flex">
                        <img src="../../assets/i5.png" class="contact__icon">
                        <a href="#" class="contact-text">allseasontravel</a>
                      </div>
                      <div class="contact__item d-flex">
                        <img src="../../assets/i6.png" class="contact__icon">
                        <p class="contact-text">г. Минск и т.д.</p>
                      </div>
                    <a href="#" class="btn2">Позвоните мне</a>
                  </div>
                  </div>
                </div>
            </div>
        </section>
      </div>
  </div>
</template>


<script>
export default {
  name: "GoogleMap",
  data () {
    return {
      contacts: {},
      coordinatesPlace: null,
      options: {
          zoom: 16,
          center: {
            lat: 0,
            lng: 0
        },
        mapTypeId: 'roadmap'
      }
    }
  },
  created(){
    this.$http.get('https://geocode-maps.yandex.ru/1.x/?&geocode='+'Красная 13'+'&format=json').then(function(data){
        this.coordinatesPlace = data.body.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos;
        this.options.center.lng = +this.coordinatesPlace.split(' ')[0];
        this.options.center.lat = +this.coordinatesPlace.split(' ')[1];
        console.log(this.options.center.lng)
        console.log(this.options.center.lat)
    });
  },
  mounted(){
    $('.owl-carousel').owlCarousel({
      items: 1,
      loop: true,
      center: true,
      autoplay:true,
      smartSpeed: 700,
      autoHeight: true
    })
  }
}
</script>

<style scoped>

</style>
