<template>
    <div>
		<div class="header-visas">
            <div class="col-md-12">
                <div class="title">
                	<img src="../../assets/visas.png" class="adventure">
                    <h1>Навстречу к путешествиям мечты</h1>
                    <p class="title__text">Поручи рутинную работа нам</p>
                    <a class="btn go_to" href="#visas">Оформить визу</a>
                </div>
            </div>
        </div>
    	<section class="advantages" id="advantages">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="title-advantages">
	                        <h2>почему оформляют визы у нас</h2>
	                        <p class="title-advantages__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
	                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
	                    </div>
	                </div>
	            </div> 
	            <div class="row">
	                <div class="col-lg-3">
	                    <img src="src/assets/v1.png" class="advantages__icon m-auto">
	                    <h3 class="advantages__tittle">бесплатная поддержка</h3>
	                    <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
	                </div>
	                <div class="col-lg-3">
	                    <img src="src/assets/v2.png" class="advantages__icon m-auto">
	                    <h3 class="advantages__tittle">Короткие сроки</h3>
	                    <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
	                </div>
	                <div class="col-lg-3">
	                    <img src="src/assets/v3.png" class="advantages__icon m-auto">
	                    <h3 class="advantages__tittle">широкий выбор</h3>
	                    <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
	                </div>
	                <div class="col-lg-3">
	                    <img src="src/assets/v4.png" class="advantages__icon m-auto">
	                    <h3 class="advantages__tittle">Оформление страховки</h3>
	                    <p class="advantage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
	                </div>
	            </div>   
	        </div>
	    </section>
	    <section class="visas" id="visas">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h2 class="title-visas">Выберите страну</h2>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa1.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa2.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa3.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa4.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa5.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa6.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa7.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa8.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	                <div class="col-lg-4">
	                    <div class="visa">
	                        <a href="#">
	                            <div class="visa__country">
	                                <img src="src/assets/visa9.png" alt="visa" class="visa__photo">
	                                <div class="block">
	                                    <a href="#" class="btn-slider">Далее</a>
	                                </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-8 m-auto">
	                    <div class="visa-add">
	                        <p>Не нашли нужную страну? Напишите нам и мы Вам перезвоним.</p>
	                        <a href="#" class="btn2">Написать</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
    </div>
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>

</style>

