<template>
    <footer id="footer" class="footer">
	        <div class="container">
	            <div class="row">
	            	<div class="col-lg-2">
	            		<img src="../assets/logof.png" height="38" width="161" class="logo-footer">
	            	</div>
	            	<div class="col-lg-8">
	            		<div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	            		</div>
	            	</div>
	            	<div class="col-lg-2 ml-auto">
	            		<a href="#" v-on:click.prevent="slideTop" class="btn-slider footer__btn go_to">Наверх</a>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-lg-12">
	            		<div class="footer__contact d-flex">
	            			<div class="footer__contact_item">
	            				<img src="../assets/if1.png" height="23" width="16" class="footer_icon">
	            				<p class="footer__contact_text ">г. Минск пр-т Независимости, 456, офис 45</p>
	            			</div>
	            			<div class="footer__contact_item">
	            				<img src="../assets/if2.png" height="18" width="18" class="footer_icon">
	            				<p class="footer__contact_text">+375-(25)-125-12-34    +375-(25)-125-12-34</p>
	            			</div>
	            			<div class="footer__contact_item">
	            				<img src="../assets/if3.png" height="15" width="18" class="footer_icon">
	            				<p class="footer__contact_text">+375-(017)-125-12-34</p>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </div>
	    </footer>
</template>


<script>
export default {
  data () {
    return {
      
    }
  },
  methods: {
  	slideTop: (e)=>{
  		document.getElementsByTagName("html")[0].scrollTop = 0;
  		document.getElementsByTagName('body')[0].scrollTop = 0;
  	}
  }
}
</script>

<style scoped>

</style>
