<template>
  <header id="header" class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <img src="../assets/logo.png" height="51" width="216" alt="allseasontravel" class="logo">
                </div>
                <div class="col-xl-8 ml-auto">
                    <nav>
                        <ul class="menu d-flex">
                            <li>
                                <router-link exact to="/" class="menu__item menu__active">Главная</router-link>
                            </li>
                            <li>
                                <router-link exact to="/about" class="menu__item ">О нас</router-link>
                            </li>
                            <li>
                                <router-link exact to="/tours"class="menu__item">Туры</router-link>
                            </li>
                            <li>
                                <router-link exact to="/visas"class="menu__item">Визы</router-link>
                            </li>
                            <li>
                                <router-link exact to="/review" class="go_to menu__item">Отзывы</router-link>
                            </li>
                            <li>
                                <router-link exact to="/contacts" class="go_to menu__item">Контакты</router-link>
                            </li>
                        </ul>
                    </nav>
                 </div>   
             </div>
             <div class="row">
              <div class="col-xl-6 ml-auto">
                <div class="contact-head d-flex">
            <div class="contact-head__item d-flex">
                          <img src="../assets/tel.png" height="18" width="18" class="contact-head__icon">
                          <a href="tel:+375-(25)-125-12-34" class="contact-head__text">+375-(25)-125-12-34</a>
            </div>
            <div class="contact-head__item d-flex">
                          <img src="../assets/old-phone.png" height="17" width="21" class="contact-head__icon">
                          <a href="tel:+375-(017)-125-12-34" class="contact-head__text">+375-(017)-125-12-34</a>
            </div>
                    </div>
              </div>
             </div>   
        </div>
    </header>
</template>


<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>

</style>
