/* Спецификация */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000;    
    line-height: 30px;
    box-sizing: border-box;

}

h1, h2, h3, h4, p, span, img {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
    letter-spacing: 0.16em;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Первый экран */

.header {
    background: #fff url(../assets/bg1.jpg) no-repeat center top / cover;
}

.logo {
    /*padding-top: 45px;*/
}

.menu {
    padding-top: 52px;
    justify-content: space-between;

    margin-right: 4%;
}

.menu__item {
    color: #000;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    background: none;
    display: block;
    height: 41px;
    width: 150%;
    margin: 0 auto;
    text-align: center;
    line-height: 41px;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.menu__item:hover {
    background: #deff00;
    text-decoration: none;
    color: #000;
}

.router-link-active {
    color: #deff00; 
}

.contact-head {
    margin-top: 20px;
    color: #3f3f3f;
    font-size: 14px;
    float: right;
    line-height: 17px;
    justify-content: space-between;
    font-weight: 400;
}

.contact-head__item {
    margin-left: 20px;
}

.contact-head__text {
    margin-left: 10px;
}


.title {
    padding-top: 115px;
    text-align: center;
    margin: 0 auto;
}

.title__text {
    margin-top: 17px;
    letter-spacing: 0.07em;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

.btn {
    border:3px solid #deff00;
    padding: 10px 60px;
    border-radius: 39px;
    font-size: 28px;
    margin: 50px 0 420px 0;
    color: #deff00;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #000;
    background: #deff00;
}

/* Второй экран */

.title-advantages__text {
    padding-top: 34px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.advantages__icon {
    display: block;
    margin: 0 auto;
    /*padding-top: 80px;*/
}

.advantages__tittle {
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.advantage__text {
    text-align: center;
}

/* Фотоэкран */

.photoline {
    background: url(../assets/photoline.jpg) no-repeat center center / cover;
    margin: 140px 0;
    height: 390px;
}

/* Популярные страны */

.popular-country__title {
    margin-top: 140px;
    margin-bottom: 50px;
}

.popular-country__desc {
    position: relative;
    width: 100%;
    margin-top: 35px; 
    margin-left: 50px;
    margin-bottom: 40px;
}

.popular-country__photo {
    width: 100%;
    margin-top: 20px;
}

.popular-country__bg {
    padding-left: 140px;
    position: absolute;
}

.popular-country__desc > h3 {
    position: absolute;
    width: 100%;
}

.popular-country__desc > p {
    position: absolute;
    width: 100%;
    padding-top: 40px;
}

.popular-country__desc > a {
    display: block;
    position: absolute;
    margin-top: 270px;
}

.btn2 {
    text-align: center;
    background: #deff00;
    padding: 12px 35px;
    border-radius: 39px;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn2:hover {
    background: #b8d207;
    text-decoration: none;
    color: #000;
}

/* Слайдер */
.slide{
    padding-bottom: 40px;
}
.slider {
    margin-top: 100px;
    /* background: url(../img/slider.jpg) no-repeat center center / cover; */
    text-align: center;
    color: #fff;
    width: 99%;
}

.slider__title {
    text-align: center;
    padding-top: 45px;
}

.slider__text {
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    padding-top: 15px;
}

.slider__date {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.slider__price {
    color: #ff0000;
    font-size: 25px;
    font-weight: 700;
}

.btn-slider {
    display: block;
    border:2px solid #deff00;
    border-radius: 39px;
    font-size: 18px;
    color: #deff00;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    width: 180px;
    height: 45px;
    line-height: 42px;
    margin: 0 auto;
    padding-bottom: 30px;
}



.btn-slider:hover {
    color: #000;
    background: #deff00;
    text-decoration: none;
}

.old-bg {
    background: url(../assets/old-bg.jpg) no-repeat center top / cover;
    
}

/* О нас */

.about__title {
	padding-top: 60px;
    padding-bottom: 30px;
}

.about_text {
    margin-bottom: 200px;
}

.about_text_p {
    text-indent: 25px;
}

/* Отзывы */

.comments {
    text-align: center;
}

.comments__title {
    margin-top: 100px;
    margin-bottom: 40px;
}


.comments_author {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.comments_date{
    margin-bottom: 5px;
    font-size: 14px;

}

.commects__text {
    margin-bottom: 50px;
}

/* Контакты */

.contact__title {
    margin-top: 160px;
    margin-bottom: 85px;
}

.map {
    /* margin-top: 75px; */
    box-shadow: 2px 2px 25px 0 #0b002a;
    width: 100%;
    margin-bottom: 110px;
    
}

.contact__items {
    margin-top: 10px;
    margin-left: 35px; 
}

.contact__item {
    display: block;
    line-height: 25px;
    margin-bottom: 25px;
    /* margin-left: 35px; */
}

.contact-text {
    margin-left: 15px;
}

/* Футер */

.footer {
    /* margin-top: 110px; */
    background: #000;
    font-size: 12px;
    color: #fff;
    height: auto;
}

.logo-footer {
    /*padding-top: 60px;*/
}

.footer__text {
    padding-top: 40px;
    margin-right: 15px;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

.footer__btn {
    display: block;
    margin-top: 45px;
}

.footer__contact {
    margin-top: 20px;
    justify-content: center;
}

.footer__contact_text {
    display: inline;
    margin-left: 10px;
    margin-right: 30px;
}

/* Страница визы */

.header-visas {
    background: #fff url(../assets/visa-bg.jpg) no-repeat center top / cover;
}

.visas {
    background: #fff url(../assets/visa-second-bg.jpg) no-repeat center center / cover;
}

.title-visas{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 90px;
}

.visa__country {
    position: relative;
}

.block {
    position: absolute;
    background: #000;
    width: 100%;
    height: 90%;
    left:0;
    top:0;
    right:0;
    border-radius: 13px;
    opacity: 0.8;
    padding-top: 100px;
    text-align: center;
    display: none;
}

 .visa__country:hover .block {
    display: block;
} 

.visa__country {
    padding-bottom: 30px; 
}

.visa__photo {
    width: 100%;
    border-radius: 13px;
    box-shadow: 0 0 30px 0px #0b002a;
}

.visa-add {
    color: #000;
    text-align: center;
    margin-bottom: 100px;
}

.visa-add > p {
    margin-bottom: 20px;
}


























/* Медиа-запросы */

 @media screen and (max-width: 1200px) {
    .logo {
        display: block;
        margin: 0 auto;
    }

    .menu {
        width: 90%;
        margin: 0 auto; 
        justify-content: space-between;
    }  

    .contact-head {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .popular-country__desc {
        width: 100%;
        text-align: center;
        margin-top: -10px;
    }
    .popular-country__desc > h3 {
    position: relative;
    }

    .popular-country__desc > p {
        margin-top: -15px;
        margin-bottom: 25px;
        position: relative;
    }

    .popular-country__desc > a {
        display: inline;
        position: relative;
        /* top: 260px; */
    }

    
    .popular-country__bg {
        display: block;
        margin: 0 auto;
    }

    /*.footer {
        margin-top: 95px;
    }*/
}

@media screen and (max-width: 990px) {
    .menu {
        flex-direction: column;
        text-align: center;
        
    }

    .menu__item {
        width: 100%;
        background: none;
    }

    .old-bg {
        background: #fff;
        height: auto;
    } 

    .map {
        margin-bottom: 20px;
    }

    .logo-footer {
        display: block;
        margin: 0 auto;
    }
    

    .footer__contact {
        flex-direction: column;
        text-align: center;
    }

    .footer__contact_item {
        margin-bottom: 10px;
    }

    .adventure {
        width: 100%;
    }   
}

@media screen and (max-width: 730px) {
    .popular-country__bg {
        display: block;
        margin: 0 auto;
        padding-left: 25px;
    }
    .popular-country__desc {
        padding: 0;
        margin: 0;
    }
    .comments__text {
        width: 100%;
    }
    
    .container {
        width: 100%
    }
}

@media screen and (max-width: 540px) {
    .contact-head {
        flex-direction: column;
    } 

    .contact-head__item {
        margin-bottom: 10px;
        justify-content: center;
    }
    
    .popular-country__bg {
        width: 100%;
    }

    .title {
        padding-top: 30px
    }

    h1 {
        font-size: 27px;
    }

    .btn {
    	padding: 10px 30px;
    }
 }