/* Медиа-запросы */

@media screen and (max-width: 1140px) {
    .logo {
    margin: 0 auto;
}
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 576px) {
   
}
