<template>
  <div id="app">
    <app-head></app-head>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>



<script>

import appHead from './components/header.vue'
import appFooter from './components/footer.vue'

export default {
  components: {
    'app-head' : appHead,
    'app-footer' : appFooter
  },
  name: 'app',
  data () {
    return {
      
    }
  }
}
</script>

<style>

</style>
